.App {
    font-family: "Apple SD Gothic Neo", "Apple SD Gothic", notosanskr, "Malgun Gothic", "맑은 고딕", Dotum, 돋움, sans-serif;

    width: 100vw;
    height: 100vh;

    display: flex;

    .Wrapper {
        width: 100vw;
        height: 100vh;

        position: absolute;
        z-index: 2;
    }

    .Marker {
        position: absolute;
        z-index: 2;
    }

    .Sidebar {
        width: 600px;
        padding: 15px 25px;
        box-sizing: border-box;
        
        background-color: rgba(255, 255, 255, 1);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 5px 0px 15px 0px;
        overflow: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        z-index: 1;

        overflow: hidden;

        // .search_box {
        //     height: 30px;
        //     padding: 7px 10px;
        //     border: 2px solid rgb(25, 206, 96);
        //     border-radius: 5px;
        //     display: flex;
        //     align-items: center;
        //     gap: 5px;

        //     .button_search {
        //         border: none;
        //         background-color: transparent;
        //     }

        //     .input_search {
        //         border: none;
        //         font-size: 1rem;
        //         line-height: 24px;
        //         font-weight: bold;
        //     }

        //     .btn_clear {
        //         border: none;
        //         border-left: 1px solid rgba(0, 0, 0, 0.1);
        //         background-color: transparent;
        //     }
        // }

        .Header {
            width: 100%;
            display: flex;
            justify-content: space-between;

            svg {
                font-size: 25px;
                opacity: 0.4;
                transform: translateX(9px);
                cursor: pointer;
            }

            .Location {
                box-sizing: border-box;
                margin-bottom: 5px;
    
                font-size: 18px;
                font-weight: bold;
    
                display: flex;
                align-items: center;
    
                svg {
                    font-size: 23px;
                    opacity: 0.3;
                }
            }

        }

        .TotalScore {
            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: 1.75em;
            font-weight: bold;

            .ScoreValue {
                font-size: 2em;
                font-weight: bold;
                color: orange;

                &.Expect {
                    display: flex;
                    align-items: end;
                    gap: 10px;

                    span:nth-child(2) {
                        font-size: 1.5rem;
                        color: black;
                        transform: translateY(-10px);
                    }
                }
            }
        }

        .Comment {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            .Top {
                display: flex;
                gap: 9px;
                text-align: end;
                height: 40px;
                margin-top: 10px;
                font-size: 1.4rem;

                .TextSwiper {
                    overflow: hidden;
                    display: flex;
                    font-weight: 700;
                }
        
                .Now {
                }
    
                
            }
        }
        .Close {
            width: 25px;
            height: 57px;
            position: absolute;
            background-color: white;
            border-radius: 5px;
            border: 1.8px solid rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: start;
            top: 430px;
            left: 455px;

            svg {
                width: 15px;
            }
        }
    }
}